<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="text-primary" class="mb-0">All my bookings</h1>
  </div>

    <ul>
      <% @bookings.each do |booking| %>
        <li>
          <h4><%= booking.book.title %></h4>
          <div class="booking-title">
           <p>Starts in: <%= booking.start_date %></p>
           <p>Ends in : <%= booking.end_date %></p>
          </div>
        </li>
      <% end %>
    </ul>
</div>
