.card{
  color: rgb(43, 41, 41);
  width: 180px;
  background-color: rgb(223, 223, 223);
  padding: 0,5;
  height: 390px;
}

.card-image{
  width: 100%;
  padding-top: 10px;
  margin-top: 1;
}

.card-title{
  align-content: center;
  

}
